li.list-group-item.active{
    border: 1px solid green;
    border-left:10px solid green;
}
li a:hover{
    text-decoration: none;
}
i{
    font-size: 25px;
    padding: 5px;
}

.bordageral{
    border-bottom: 1px solid rgb(215, 215, 215);
}

.pagina{
    padding:25px !important;
}